@import "tailwindcss";

html {
  background: #0A0A0B;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: #0A0A0B;
}

button, a {
  -webkit-tap-highlight-color: transparent;
}
